<h1>Horarios de las Canchas</h1>
<ul>
    <h3>Buenos Aires</h3>
    <p>De lunes a Sabados</p>
    <li *ngFor="let cancha of canchas">{{canchas}}</li>
  </ul>

  <ul>
    <h3>Santiago Bernabeu</h3>
    <p>De lunes a Sabados</p>
    <li *ngFor="let cancha of canchas">{{canchas}}</li>
  </ul>

  <ul>
    <h3>Ciudad Vinotinto</h3>
    <p>De lunes a Sabados</p>
    <li *ngFor="let cancha of canchas">{{canchas}}</li>
  </ul>

  <ul>
    <h3>Campin</h3>
    <p>De lunes a Sabados</p>
    <li *ngFor="let cancha of canchas">{{canchas}}</li>
  </ul>
  
  

